<div class="<%= class_name %>">
    
    <p class="pg-hello">Hello<span class="pg-hello-fullstop">.</span></p>
    <p>I'm Patrick Grey. I'm a web developer working in <a href="https://www.google.co.uk/maps/place/Lochgilphead/@56.0404104,-5.4394255,15z/data=!3m1!4b1!4m5!3m4!1s0x48897893a53ec45f:0x4dd11a62ea56ff2f!8m2!3d56.038292!4d-5.4323449">Lochgilphead</a>, Scotland.</p>
    <p> I learn by asking all the stupid questions.</p>
    <hr>
    <p>I dabble in the following:</p>
    <ul>
        <li>Website development</li>
        <li>E-learning</li>
        <li>Motion graphics</li>
    </ul>
    <p>My email address is: <a href="mailto:hi@patrickgrey.co.uk">hi@patrickgrey.co.uk</a></p>

</div> <!-- pg-about -->