<div class="pg-about-container <%= class_name %>">
    
    <p class="pg-hello">Hello<span class="pg-hello-fullstop">.</span></p>
    <p>I'm Patrick Grey, a web developer working in <a href="https://www.google.co.uk/maps/place/Lochgilphead/@56.0404104,-5.4394255,15z/data=!3m1!4b1!4m5!3m4!1s0x48897893a53ec45f:0x4dd11a62ea56ff2f!8m2!3d56.038292!4d-5.4323449" onclick="trackOutboundLink('https://www.google.co.uk/maps/place/Lochgilphead/@56.0404104,-5.4394255,15z/data=!3m1!4b1!4m5!3m4!1s0x48897893a53ec45f:0x4dd11a62ea56ff2f!8m2!3d56.038292!4d-5.4323449'); return false;">Lochgilphead</a>, Argyll, Scotland.</p>
    <!-- <p> I learn by asking all the stupid questions.</p> -->
    <hr>
    <p>I dabble in websites, e&#8209;learning &amp; motion graphics.</p>
    <p>Email me <a href="mailto:hi@patrickgrey.co.uk" onclick="trackOutboundLink('mailto:hi@patrickgrey.co.uk'); return false;">hi@patrickgrey.co.uk</a> or find me on Twitter: <a href="https://twitter.com/PatrickGreyCoUk" onclick="trackOutboundLink('https://twitter.com/PatrickGreyCoUk'); return false;">@PatrickGreyCoUk</a></p>


    <script>
        /**
        * Function that tracks a click on an outbound link in Analytics.
        * This function takes a valid URL string as an argument, and uses that URL string
        * as the event label. Setting the transport method to 'beacon' lets the hit be sent
        * using 'navigator.sendBeacon' in browser that support it.
        */
        var trackOutboundLink = function(url) {
            gtag('event', 'click', {
            'event_category': 'outbound',
            'event_label': url,
            'transport_type': 'beacon',
            'event_callback': function(){document.location = url;}
            });
        }
    </script>
</div> <!-- pg-about -->