<div class="pg-sw-reload" id="pgSWDialogueReload">
  <p>Reload to update site.</p>
  <p>
    <a href="#" id="pgSWDialogueButtonReload">RELOAD</a>
    <a href="#" id="pgSWDialogueButtonDismiss">DISMISS</a>
  </p>
</div>