

    <div class="pg-post">
        <h1>Post 1</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post 2</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>
