
<% site.posts.sort('date', -1).limit(10).each(function(post){ %>
    <div class="pg-post">
        <h1><%= post.title || '(no title)' %></h1>
        <p><%= post.date || '(no date)' %></p>
        <p><%- post.excerpt || '(no excerpt)' %></p>
        <a href="<%- url_for(post.path) %>">Go to post.</a>
    </div>
<% }) %>


    <div class="pg-post">
        <h1>Post 1</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post 2</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>

    <div class="pg-post">
        <h1>Post</h1>
        <p>This is a post.</p>
    </div>
