    <a class="pg-accessible-hide-visual" href="#posts">Jump to posts</a>

    <%- partial('_partial/about', {class_name: 'pg-about'}) %>

    <div class="pg-posts" id="posts">
        
                        
        <h1 class="pg-blog-list-title">Blog</h1>

        <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
            <div class="pg-post">
                <h2 class="pg-post-title"><a class="pg-post-goto-link" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a></h2>
                <p class="pg-post-date"><%= post.date || '(no date)' %></p>
                
            </div>
        <% }) %>                

    </div> <!-- pg-posts -->

