<!DOCTYPE html>
 <html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Patrick Grey's totally not grey funhouse of a website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- css('css/patrickgrey.css') %>
    </head>
    <body>

        <div class="pg-container">
        
            <%- body %>

        </div>
        
    </body>
</html>