<!DOCTYPE html>
 <html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Patrick Grey's totally not grey funhouse of a website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>body,html{padding:0;margin:0;font-family:Helvetica,Arial,freesans,sans-serif;font-size:130%;background:#fefefe;color:#333}a{overflow-wrap:break-word;word-wrap:break-word;text-decoration:none;background:#000;color:#fff;padding:0 3px}h2,h3{color:#666}a.headerlink{background:0 0;padding:0;margin-top:3rem}a:active,a:focus,a:hover{color:#ff0}hr{border:none;height:1px;background-color:#333}.pg-container{margin:1rem auto;max-width:32rem}.pg-about,.pg-post-about{max-width:25rem}.pg-about,.pg-post-about,.pg-posts{margin-left:1rem}.pg-accessible-hide-visual{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}.pg-post-about{border-top:solid 1rem #eee;padding-top:1rem;margin-right:1rem}.pg-hello{font-size:30vw;font-weight:bolder;margin:0}.pg-hello-fullstop{color:#fff;font-size:1px;position:relative}.pg-hello-fullstop::before{content:'';position:absolute;top:-1rem;left:.45rem;display:block;width:.45rem;height:.45rem;background:#ff0;border:.3rem solid #444}.pg-posts{margin-bottom:4rem;margin-right:1rem}.pg-post-container{margin:0 auto}.pg-post{position:relative;margin-bottom:4rem}.pg-posts-back-to{text-align:right;margin-top:2rem;margin-right:1rem;display:block}.pg-post-title{border-bottom:solid 5px #ccc;padding-bottom:1rem;margin-bottom:0}.pg-post-date{font-size:.9rem;margin-top:0}.pg-blog-list-title{margin-top:4.5rem;margin-bottom:2.5rem}.pg-strikethrough{text-decoration:line-through}@media (min-width:600px){.pg-hello{font-size:7rem;line-height:7rem}}@media (min-width:1420px){.pg-about,.pg-post-about{position:fixed;overflow-y:auto;height:100%}body,html{font-size:130%;line-height:1.9rem}.pg-container{margin:0;max-width:100%}.pg-about{margin-top:0;width:40%;max-width:25rem;margin-left:1rem}.pg-post-about{top:2rem;border-top:none;padding-top:0}.pg-blog-list-title{margin-bottom:4rem;margin-top:2rem}.pg-posts{width:60%;max-width:35rem;margin:1rem 1.5rem 2rem auto}}</style>
    </head>
    <body>

        <div class="pg-container">
        
            <%- body %>

        </div>
        
    </body>
</html>