

<div class="pg-posts">

    <a class="pg-posts-back-to" href="<%- url_for('/') %>">Back to list of posts</a>

    <h2 class="pg-post-title"><%= page.title %></h2>

    <%- page.content %></h2>


</div>

<%- partial('_partial/about', {class_name: 'pg-post-about'}) %>