.pg-canvas-container {
  height: 100vh;
  display: grid;
  place-items: start center;
}

.pg-canvas {
  width: 75vmin;
  height: 75vmin;
  background: black;
}

.pg-canvas-02 ellipse {
  /* fill: red; */
  filter: url(#glow);
}
