/* Defaults */
:root {
  --font-family: "Overpass", sans-serif;
  --font-family-monospace: "Overpass Mono", Consolas, Menlo, Monaco,
    Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L,
    Courier New, Courier, monospace;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #c0c0c0;
  --color-gray-90: #333;

  --background-color: hsl(45, 43%, 89%);

  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-visited: #17050f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #dad8d8;

    /* --text-color is assigned to --color-gray-_ above */
    --text-color-link: #1493fb;
    --text-color-link-visited: #a6a6f8;

    --background-color: #15202b;
  }
}

/* Global stylesheet */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-monospace);
}

header {
  position: relative;
}

/* https://dev.to/afif/how-to-correctly-position-rotated-text-using-css-1gjc */

/* Change the corners to boxes with two sides bordered then
I can have cross hatches at three corners plus the circle */
.pg-home {
  transform-origin: top left;
  position: absolute;
  left: 1rem;
  top: 1rem;
  transform: rotate(-90deg) translateX(-100%);
  margin: 0;

  white-space: nowrap;
  font-family: var(--font-family-monospace);
  font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
  /* border-right: 1px solid #999; */
  border: 1px solid #999;
}

.pg-home a {
  display: inline-block;
  color: var(--text-color);
  background-color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.pg-home::before,
.pg-home::after,
.pg-home > a::before,
.pg-home > a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #999;
}

.pg-home::before {
  top: -12px;
  left: -12px;
  border-left-color: transparent;
  border-top-color: transparent;
}

.pg-home::after {
  top: -12px;
  right: -12px;
  border-right-color: transparent;
  border-top-color: transparent;
}

.pg-home > a::before {
  bottom: -12px;
  left: -12px;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.pg-home > a::after {
  bottom: -12px;
  right: -12px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.pg-home a:hover::after {
  background-color: white;
}

/* .pg-home::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -1px;
  height: calc(100% + 20px);
  width: 1px;
  border-left: 1px solid #999;
}



.pg-home a::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -1px;
  height: calc(100% + 10px);
  width: 1px;
  border-left: 1px solid #999;
}

.pg-home a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 50%;
  transition: background-color 0.3s;
}*/
